.block, div {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-shrink: 0;
    align-content: flex-start;
    border: 0 solid #000;
    margin: 0;
    padding: 0;
}

.progress {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: row;
  overflow: hidden;
  border-radius: 3px;
  opacity: 0.15;

  width: 0%;
  height: 100%;
  background: white;
  
  pointer-events:none;
 
}

.soundboardButton {
  border-radius: 3px;
  background-color:#44c767;
  border:1px solid #18ab29;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:17px;
  padding:20px 20px;
  text-decoration:none;
  text-shadow:0px 1px 0px #2f6627;
  margin: 4px;
  flex: 1 1 auto;
}

#pane {
  flex: 1 1 auto;
  padding: 5px;
  flex-direction: row;
  flex-wrap: wrap;
}